include ../rate-button/rate-button.pug

mixin room-card({ images, roomNumber = 1, isLux, roomRate = 10000, rating = 5, reviewsNumber = 0 } = {})
  .room-card
    .room-card__slider-section
      ul(class='room-card__slider-list')
        each img, index in images
          - let listItemClass = 'room-card__slider-list-item'
          - listItemClass += index === 0 ? ` ${listItemClass}_transparent` : ''
            
          li(class=listItemClass)
            img(class='room-card__slider-image' src=img alt="room-image")

      button.room-card__arrow-button.room-card__arrow-button_prev(
        type='button'
      )
        i.room-card__arrow keyboard_arrow_left

      button.room-card__arrow-button.room-card__arrow-button_next(
        type='button'
      )
        i.room-card__arrow keyboard_arrow_right

      .room-card__dots-section
        each img, index in images
          if index == 0
            .room-card__dot.room-card__dot_active
          else
            .room-card__dot.room-card__dot_inactive

    .room-card__room-info
      .room-card__number-section
        .room-card__room-number
          span.room-card__number №
          |  #[span.room-card__number.room-card__number_size_l !{roomNumber}]
          if isLux
            |  #[span.room-card__lux ЛЮКС]

        .room-card__room-rate 
          span.room-card__accented-text !{roomRate.toLocaleString('ru-RU')}&#8381
          span  в сутки
          
      .room-card__separator
      .room-card__rating-section
        +rate-button({rate: rating})
        .room-card__rating
          span.room-card__accented-text !{reviewsNumber}
          span  Отзывов
