mixin set_radio-button(radio_attributes)
    .radio-button
        each radio in radio_attributes
            .radio-button__radio-section
                input(class='radio-button__radio-element' type='radio' id=radio[0] name=radio[1] value=radio[2])
                label(class='radio-button__label' for=radio[0]) !{radio[3]}
