include ../rate-button/rate-button.pug

mixin number-card( {images, roomNumber, lux, roomRate, rating, reviewsNumber} = {} )
  .number-card
    .number-card__slider-section
      <ul class="number-card__slider-list">
        each img, index in images
          if index == 0
            <li class="number-card__slider-list-item number-card__slider-list-item_transparent"><img class='number-card__slider-image' src=!{img} alt="room-image"></li>
          else
            <li class="number-card__slider-list-item number-card__slider-list-item_not-transparent"><img class='number-card__slider-image' src=!{img} alt="room-image"></li>
      </ul>
      button.number-card__arrow-button.number-card__arrow-button_prev(
        type='button'
      )
        i.material-icons keyboard_arrow_left
      button.number-card__arrow-button.number-card__arrow-button_next(
        type='button'
      )
        i.material-icons keyboard_arrow_right
      .number-card__dots-section
        each img, index in images
          if index == 0
            .number-card__dot.number-card__dot_active
          else
            .number-card__dot.number-card__dot_inactive
    .number-card__room-info
      .number-card__number-section
        .number-card__room-number
          span.number-card__number №
          |  #[span.number-card__number.number-card__number_size_l !{roomNumber}]
          if lux
            |  #[span.number-card__lux ЛЮКС]
        .number-card__room-rate 
          span.number-card__accented-text !{roomRate.toLocaleString('ru-RU')}&#8381
          span  в сутки
      .number-card__separator
      .number-card__rating-section
        +rate-button({rate: rating})
        .number-card__rating
          span.number-card__accented-text !{reviewsNumber}
          span  Отзывов
