mixin range-slider(args)
    .range-slider
        .range-slider__header-section
            h3(class='range-slider__title') !{args.title}
            .range-slider__range-label
        input(class='range-slider__input-range range-slider__input_left' type="range" min=args.min1 max=args.max1 value=args.value1)
        input(class='range-slider__input-range range-slider__input_right' type="range" min=args.min1 max=args.max2 value=args.value2)
        .range-slider__slider
            .range-slider__track
            .range-slider__range
            div(class='range-slider__thumb range-slider__thumb_left')
            div(class='range-slider__thumb range-slider__thumb_right')