include ../button/button.pug

mixin dropdown(type='guests', title=none)

    if type == 'guests'
        if !title
            - title = 'гости'
        - var options = ['взрослые', 'дети', 'младенцы']
        - var buttons = true
        - var dropdownType = 'dropdown_guests'
        - var headerText = 'Сколько гостей'
        - var borders = 'dropdown__header_all-angles-are-round'
    else if type == 'comfort'
        if !title
            - title = 'удобства номера'
        - var options = ['спальни', 'кровати', 'ванные комнаты']
        - var buttons = false
        - var dropdownType = 'dropdown_comfort'
        - var headerText = 'Выберите удобства'
        - var borders = 'dropdown__header_top-angles-are-round'
    else if type == 'date'
        - var dropdownType = 'dropdown_date'
        - var headerText = 'ДД.ММ.ГГГГ'
        - var borders = 'dropdown__header_all-angles-are-round'
    else if type == 'filter_date'
        if !title
            - title = 'даты пребывания в отеле'
        - var dropdownType = 'dropdown_filter-date'
        - var headerText = 'Выберите период'
        - var borders = 'dropdown__header_all-angles-are-round'

    div(class='dropdown ' + dropdownType)
        input(type="checkbox" id=type class='dropdown__check')
        if type != 'date'
            h3(class="dropdown__title") !{title}
            label(for=type class='dropdown__header ' + borders)
                .dropdown__header-element.dropdown__header-text !{headerText}
                span(class='material-icons dropdown__header-element dropdown__expand-more') keyboard_arrow_down
        else
            .dropdown__date-block
                .dropdown__arrival.dropdown_dateElement
                    h3(class="dropdown__title") !{title}
                    label(for=type class='dropdown__header ' + borders)
                        .dropdown__header-element.dropdown__header-text !{headerText}
                        span(class='material-icons dropdown__header-element dropdown__expand-more') keyboard_arrow_down
                .dropdown__departure.dropdown_dateElement
                    h3(class="dropdown__title") !{title}
                    label(for=type class='dropdown__header ' + borders)
                        .dropdown__header-element.dropdown__header-text !{headerText}
                        span(class='material-icons dropdown__header-element dropdown__expand-more') keyboard_arrow_down

        .dropdown__drop-menu
            if type == 'guests' || type == 'comfort'
                each val in options
                    .dropdown__option.dropdown__drop-element
                        .dropdown__option-title !{val}
                        .dropdown__quantity-selection
                            button(class='dropdown__subtract-button dropdown__quantity-button' disabled) -
                            .dropdown__quantity-number 0
                            button(class='dropdown__add-button dropdown__quantity-button') +
                if buttons
                    .dropdown__bottom-buttons-panel.dropdown__drop-element
                        .dropdown__button-clear
                            +button('onlyTextButton', 'очистить', 'gray')(class='button_clear')
                        .dropdown__button-apply
                            +button('onlyTextButton', 'применить')(class='button_apply')