mixin pagination({ numberOfPages = 1, activePage = 1 } = {})
  - let current_page = 1;
  - let isLeftNumbersHidden = false;
  - let isRightNumbersHidden = false;
  - let hotelRoomsTotal = (numberOfPages - 1) * 12;
  - const endHotelRoomOnPage = activePage * 12;
  - const startHotelRoomOnPage = endHotelRoomOnPage - 11;

  - hotelRoomsTotal = hotelRoomsTotal > 100 ? '100+' : hotelRoomsTotal + '+';

  nav.pagination
    ul.pagination__pages
      if activePage !== 1
        li.pagination__button.pagination__button_with-arrow.pagination__button_with-prev-arrow
          a.pagination__link(href="#")
            i.pagination__arrow arrow_back

      while current_page <= numberOfPages
        if current_page < activePage && activePage - current_page > 2 && current_page > 1 && activePage > 5
          if !isLeftNumbersHidden
            li.pagination__button ...
            - isLeftNumbersHidden = true;
          - current_page++;
          - continue;

        if current_page > activePage && current_page - activePage > 2 && current_page < numberOfPages && numberOfPages - activePage > 4
          if !isRightNumbersHidden
            li.pagination__button ...
            - isRightNumbersHidden = true;
          - current_page++;
          - continue;

        if current_page == activePage
          li.pagination__button.pagination__button_with-number.pagination__button_active-page !{current_page}
        else
          li.pagination__button.pagination__button_with-number
            a.pagination__link(href="#") !{current_page}
        - current_page++;

      if activePage != numberOfPages
        li.pagination__button.pagination__button_with-arrow.pagination__button_with-next-arrow
          a.pagination__link(href="#")
            i.pagination__arrow arrow_forward

    span.pagination__signature.pagination__signature_with-top-margin !{startHotelRoomOnPage} – !{endHotelRoomOnPage} из !{hotelRoomsTotal} вариантов аренды
