mixin pagination({ numberOfPages = 1, activePage = 1 } = {})
  - let current_page = 1;
  - let isLeftNumbersHidden = false;
  - let isRightNumbersHidden = false;
  - let hotelRoomsTotal = (numberOfPages - 1) * 12;
  - const endHotelRoomOnPage = activePage * 12;
  - const startHotelRoomOnPage = endHotelRoomOnPage - 11;

  - hotelRoomsTotal = hotelRoomsTotal > 100 ? '100+' : `${hotelRoomsTotal}+`;

  nav.pagination.js-pagination
    ul.pagination__pages.js-pagination__pages
      if activePage !== 1
        li.pagination__button.pagination__button_theme_movement.js-pagination__button_theme_previous
          a.pagination__link(href="#")
            i.pagination__arrow arrow_back

      while current_page <= numberOfPages
        if current_page < activePage && activePage - current_page > 2 && current_page > 1 && activePage > 5
          if !isLeftNumbersHidden
            li.pagination__button ...
            - isLeftNumbersHidden = true;
          - current_page++;
          - continue;

        if current_page > activePage && current_page - activePage > 2 && current_page < numberOfPages && numberOfPages - activePage > 4
          if !isRightNumbersHidden
            li.pagination__button ...
            - isRightNumbersHidden = true;
          - current_page++;
          - continue;

        if current_page == activePage
          li.pagination__button.pagination__button_theme_numerical.js-pagination__button_theme_numerical.pagination__button_active.js-pagination__button_active !{current_page}
        else
          li.pagination__button.pagination__button_theme_numerical.js-pagination__button_theme_numerical
            a.pagination__link(href="#") !{current_page}
        - current_page++;

      if activePage != numberOfPages
        li.pagination__button.pagination__button_theme_movement.js-pagination__button_theme_next
          a.pagination__link(href="#")
            i.pagination__arrow arrow_forward

    span.pagination__signature.pagination__signature_offset_top.js-pagination__signature !{startHotelRoomOnPage} – !{endHotelRoomOnPage} из !{hotelRoomsTotal} вариантов аренды
