mixin button({ type, text = 'click me', isDisabled = false, theme, size, color, link } = {})
  -
    const themes = {
      filled: 'button_theme_filled',
      bordered: 'button_theme_bordered'
    };
  - const colors = { darkestGray: 'button_color_darkest-gray' };
  - const sizes = { small: 'button_size_small'}
  - const tag = link ? 'a' : 'button';
  - const classes = ['button', themes[theme], colors[color], sizes[size]];
  - const modifiedType = type === 'submit' ? 'submit' : false;

  #{tag}(href=link type=modifiedType, disabled=isDisabled, class=classes) !{text}
