mixin button({ type, text = 'click me', isDisabled = false, theme, size, color } = {})
  - let button_class = 'button';
  - let modifiedType = type === 'submit' ? 'submit' : 'button'

  if theme === 'filled'
    - button_class += ' button_theme_filled';
  else if theme === 'bordered'
    - button_class += ' button_theme_bordered';

  if color === 'darkest-gray'
    - button_class += ' button_color_darkest-gray';

  if size === 'small'
    - button_class += ' button_size_small';

  button(type=modifiedType, value=text, disabled=isDisabled, class=button_class) !{text}
