mixin navbar(args)
    - let navbarClass = 'navbar__list navbar__list_horizontal'
    - let navbarItemClass = 'navbar__item navbar__item_horizontal'
    - let navbarHiddenListClass = 'navbar__hidden-list navbar__hidden-list_horizontal'
    - let navbarHiddenListItemClass = 'navbar__hidden-list-item navbar__hidden-list-item_horizontal'
    - let dropdownTitleClass = 'navbar__dropdown-title'
    - let separatorClass = 'navbar__separator'

    if (args.type == 'vertical')
        - navbarClass = 'navbar__list navbar__list_vertical'
        - navbarItemClass = 'navbar__item navbar__item_vertical'
        - navbarHiddenListClass = 'navbar__hidden-list navbar__hidden-list_vertical'
        - navbarHiddenListItemClass = 'navbar__hidden-list-item navbar__hidden-list-item_vertical'
        - dropdownTitleClass = 'navbar__dropdown-title navbar__dropdown-title_vertical'
        - separatorClass = 'navbar__separator navbar__separator_vertical'

    <nav class='navbar'>
        ul(class=navbarClass)
            each item in args.items
                if item.items
                    li(class=navbarItemClass)
                        div(class=dropdownTitleClass)
                            span !{item.title} 
                            i(class='material-icons') expand_more
                        ul(class=navbarHiddenListClass)
                            each hiddenItem in item.items
                                li(class=navbarHiddenListItemClass) !{hiddenItem}
                else
                    li(class=navbarItemClass) !{item}
            li(class=navbarItemClass + ' navbar__item_with-separator')
                div(class=separatorClass)
            li(class=navbarItemClass + ' navbar__item_with-name') Виталий Бакалов
            li(class='navbar__button-entry-container ' + navbarItemClass)
                +button({type: 'border', text: 'войти', theme: 'paddings8'})
            li(class='navbar__button-registration-container ' + navbarItemClass)
                +button({text: 'зарегистрироваться', theme: 'paddings10'})
    </nav>