mixin impressions-diagram({ magnificently = 0, good = 0, satisfactorily = 0, disappointed = 0 } = {})
  - let diagramLegendItemClass = 'impressions-diagram__legend-item impressions-diagram__legend-item_theme'


  .impressions-diagram.js-impressions-diagram
    .impressions-diagram__diagram-section
      canvas.js-impressions-diagram__diagram(width=120, height=120)
      .impressions-diagram__votes-counter
        .impressions-diagram__votes-number.js-impressions-diagram__votes-number 0
        .impressions-diagram__votes-text.js-impressions-diagram__votes-text голосов

    .impressions-diagram__diagram-legend
      div(class = diagramLegendItemClass + "_magnificently") Великолепно
      div(class = diagramLegendItemClass + "_good") Хорошо
      div(class = diagramLegendItemClass + "_satisfactorily") Удовлетворительно
      div(class = diagramLegendItemClass + "_disappointed") Разочарован

    input(
      class="impressions-diagram__data-field js-impressions-diagram__data-field"
      type="text"
      value=`{"magnificently":  ${magnificently}, "good":  ${good}, "satisfactorily":  ${satisfactorily}, "disappointed":  ${disappointed} }`
    )
