mixin checkbox-button(labelText, id, isChecked, richCheckbox=false, richText)
    - let additionalClass = ''
    - let checkboxClass = 'checkbox-button'
    - let labelClass = 'checkbox-button__label'

    if richCheckbox
        - checkboxClass += ' checkbox-button_rich'
        - labelClass += ' checkbox-button__label_rich'

    div(class=checkboxClass)
        input(class='checkbox-button__checkbox-element' type='checkbox' checked=isChecked id=id)
        label(class=labelClass, for=id) !{labelText}
        if richCheckbox
            .checkbox-button__rich-text !{richText}