mixin checkbox-button({ rich, checked, label = 'option', text } = {})
  - let checkboxClass = rich ? 'checkbox-button checkbox-button_type_rich' : 'checkbox-button';

  div(class=checkboxClass)
    label.checkbox-button__label !{label}
      input.checkbox-button__checkbox-element(
        type="checkbox",
        checked=checked,
      )
      
    if rich
      .checkbox-button__text !{text}
