mixin checkbox-button( {rich, checked, id, label, text} = {} )
  - let additionalClass = '';
  - let checkboxClass = 'checkbox-button';
  - let labelClass = 'checkbox-button__label';

  if id === undefined
    - id = 'checkbox' + Math.random() * (9999 - 0) + 0

  if label === undefined
    - label = 'option'
  
  if text === undefined
    - text = ''

  if rich
    - checkboxClass += ' checkbox-button_type_rich';
    - labelClass += ' checkbox-button__label_type_rich';

  div(class=checkboxClass)
    input.checkbox-button__checkbox-element(
      type="checkbox",
      checked=checked,
      id=id
    )
    label(class=labelClass, for=id) !{label}
    if rich
      .checkbox-button__text !{text}
