mixin radio-button({ buttons } = {})
  if buttons !== undefined
    .radio-button
      each radio in buttons
        .radio-button__radio-section
          label.radio-button__label !{radio.text}
            input.radio-button__radio-element(
              type="radio",
              name=radio.name,
              value=radio.value,
              checked=radio.isChecked
            )
