mixin text-field({ isMasked, isSubscription, title, type = 'text', placeholderText = 'text' } = {})
  - let fieldClass = 'text-field__field js-text-field__field';

  if isMasked
    - fieldClass += ' js-text-field__field_masked';
  else if isSubscription
    - fieldClass += ' text-field__field_theme_subscription';

  .text-field
    if title
      h3.text-field__title !{title}

    input(type=type, placeholder=placeholderText, class=fieldClass)
    
    if isSubscription
      button.text-field__subscription-button(
        type='button'
      )
        span.text-field__arrow-forward arrow_forward
