mixin text-field( {masked, subscription, title, type, placeholderText} = {} )

  if type === undefined 
    - type = 'text'

  if placeholderText === undefined 
    - placeholderText = 'text'

  - let fieldClass = 'text-field__field';

  if masked
    - fieldClass += ' text-field__field_masked';
  else if subscription
    - fieldClass += ' text-field__field_paddings_l';

  .text-field
    if title
      h3.text-field__title !{title}
    input(type=type, placeholder=placeholderText, class=fieldClass)
    if subscription
      button.text-field__subscription-button(
        type='button'
      )
        span.material-icons.text-field__arrow-forward arrow_forward
