include ../date-dropdown/date-dropdown.pug
include ../guests-dropdown/guests-dropdown.pug
include ../button/button.pug

mixin room-rate-card({ roomNumber = 1, isLux, roomRate = 10000, dropdown1, dropdown2, serviceCost = 0, additionalServiceCost = 0, button } = {})
  if button === undefined
    - button = { 'type': 'arrow', 'text': 'забронировать' }

  .room-rate-card.js-room-rate-card
    form
      .room-rate-card__room-info
        .room-rate-card__room-number
          .room-rate-card__number №&#32
          .room-rate-card__number.room-rate-card__number_size_large !{roomNumber}&#32
          if isLux
            .room-rate-card__lux ЛЮКС
        .room-rate-card__price-per-day 
          .room-rate-card__cost !{roomRate.toLocaleString('ru-RU')}₽&#32
          .room-rate-card__room-rate-label в сутки

      if dropdown1 !== undefined
        +date-dropdown(dropdown1)

      if dropdown2 !== undefined
        .room-rate-card__drop-guests
          +guests-dropdown(dropdown2)

      .room-rate-card__room-rate-calc
        .js-room-rate-card__daily-calc !{roomRate}
        .js-room-rate-card__room-rate 0₽

      .room-rate-card__services
        .room-rate-card__service-info
          .room-rate-card__services-label.js-room-rate-card__services-label Сбор за услуги
          .room-rate-card__service-tooltip
            span.room-rate-card__tooltip(
              tooltip="Суммарная стоимость выбранных услуг"
            ) i
        .js-room-rate-card__total-services-cost !{serviceCost}₽

      .room-rate-card__additional-services
        .room-rate-card__additional-service-info
          .room-rate-card__additional-services-label Сбор за дополнительные услуги:
          .room-rate-card__additional-service-tooltip
            span.room-rate-card__tooltip(
              tooltip="Суммарная стоимость выбранных дополнительных услуг"
            ) i
        .js-room-rate-card__total-services-additional-cost !{additionalServiceCost}
        
      .room-rate-card__result
        .room-rate-card__result-label Итого
        .room-rate-card__result-dots
        .room-rate-card__result-cost.js-room-rate-card__result-cost 0₽
      +button(button)
