include ../dropdown/dropdown.pug
include ../button/button.pug

mixin room-rate-card(args)
    .room-rate-card
        form
            .room-rate-card__room-info
                .room-rate-card__room-number
                    .room-rate-card__number №&#32
                    .room-rate-card__number.room-rate-card__number_size-19 !{args.roomNumber}&#32
                    if args.lux
                        .room-rate-card__lux ЛЮКС
                .room-rate-card__price-per-day 
                    .room-rate-card__cost !{args.roomRate.toLocaleString('ru-RU')}₽&#32 
                    .room-rate-card__room-rate-label в сутки
            +dropdown(args.dropdown1)
            .room-rate-card__drop-guests
                +dropdown(args.dropdown2)
            .room-rate-card__room-rate-calc
                .room-rate-card__daily-calc !{args.roomRate}
                .room-rate-card__room-rate 0₽
            .room-rate-card__services
                .room-rate-card__service-info
                    .room-rate-card__services-label Сбор за услуги
                    .room-rate-card__service-tooltip
                        span(class='room-rate-card__tooltip' tooltip='Суммарная стоимость выбранных услуг') i
                .room-rate-card__total-services-cost !{args.serviceCost}₽
            .room-rate-card__additional-services
                .room-rate-card__additional-service-info
                    .room-rate-card__additional-services-label Сбор за дополнительные услуги:                	
                    .room-rate-card__additional-service-tooltip
                        span(class='room-rate-card__tooltip' tooltip='Суммарная стоимость выбранных дополнительных услуг') i
                .room-rate-card__total-services-additional-cost !{args.additionalServiceCost}
            .room-rate-card__result
                .room-rate-card__result-label Итого
                .room-rate-card__result-dots
                .room-rate-card__result-cost 0₽
            +button(args.button)