include ../button/button.pug

mixin calendar({ modifiers = [] } = {})
  -
    const WEEK_DAYS = 7;
    const weeksCount = 5;
    const currentDay = 6;
    let maxDaysCount = 31;
    let week = 1;
    let dayNumber = 28;
    let calendarDayClass = 'calendar__day calendar__day_theme_other-month js-calendar__day';
    let isPrevMonth = true;
    let calendarStyle = 'calendar js-calendar';

    calendarStyle += modifiers.reduce((accumulator, modifier) => accumulator + ` calendar_theme_${modifier}`, '' )

    function recalculateData() {
      if (isPrevMonth && dayNumber > maxDaysCount) {
        maxDaysCount = 30;
        dayNumber = 1;
        isPrevMonth = false;
        calendarDayClass = 'calendar__day js-calendar__day';
      }
      if (dayNumber === currentDay) {
        calendarDayClass = 'calendar__day calendar__day_theme_current js-calendar__day';
      }
      if (!isPrevMonth && dayNumber > maxDaysCount) {
        dayNumber = 1;
        calendarDayClass = 'calendar__day calendar__day_theme_other-month js-calendar__day';
      }
    }

  div(class=calendarStyle)
    .calendar__month-selection-section
      i.calendar__month-button.calendar__month-button_theme_previous.js-calendar__month-button_theme_previous arrow_back
      span.calendar__month-name.js-calendar__month-name Сентябрь 1989
      i.calendar__month-button.calendar__month-button_theme_next.js-calendar__month-button_theme_next arrow_forward
    .calendar__days-section.js-calendar__days-section
      .calendar__names-of-week-days-section
        each day in ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']
          span.calendar__week-day !{day}

      while week <= weeksCount
        .calendar__week-section.js-calendar__week-section
          - let weekDay = 1;

          while weekDay <= WEEK_DAYS
            - recalculateData();

            span(class=calendarDayClass) !{dayNumber}

            if dayNumber === currentDay
              - calendarDayClass = 'calendar__day js-calendar__day';
            - dayNumber += 1;
            - weekDay += 1;
        - week += 1;

    .calendar__buttons-panel
      .calendar__button-clear.calendar__button-clear_theme_hidden.js-calendar__button-clear
        +button({text: 'очистить'})
      .calendar__button-apply.js-calendar__button-apply
        +button({text: 'применить'})
