mixin navbar(args)
    if (args.type == 'horizontal')
        - var navbarClass = 'navbar navbar_horizontal'
        - var navbarItemClass = 'navbar__item navbar__item_horizontal'
        - var navbarHiddenListClass = 'navbar__hidden-list navbar__hidden-list_horizontal'
        - var navbarHiddenListItemClass = 'navbar__hidden-list-item navbar__hidden-list-item_horizontal'

    ul(class=navbarClass)
        li(class=navbarItemClass) О нас
        li(class=navbarItemClass)
            .navbar__dropdown-title
                span Услуги 
                i(class='material-icons') expand_more
            ul(class=navbarHiddenListClass)
                li(class=navbarHiddenListItemClass) Обслуживание номеров
                li(class=navbarHiddenListItemClass) Парковка
                li(class=navbarHiddenListItemClass) Персональный сейф
                li(class=navbarHiddenListItemClass) Интернет
                li(class=navbarHiddenListItemClass) Кабельное телевидние
                li(class=navbarHiddenListItemClass) Питание
        li(class=navbarItemClass) Вакансии
        li(class=navbarItemClass) Новости
        li(class=navbarItemClass)
            .navbar__dropdown-title
                span Соглашения
                i(class='material-icons') expand_more
            ul(class=navbarHiddenListClass)
                li(class=navbarHiddenListItemClass) Правила проживание
                li(class=navbarHiddenListItemClass) Бонусная программа
                li(class=navbarHiddenListItemClass) Политика конфиденциальности
        li(class='navbar__item navbar__separator-item ' + navbarItemClass)
            .navbar__separator
        li(class='navbar__account-name ' + navbarItemClass)
            .navbar__account-name Виталий Бакалов
        li(class='navbar__button-entry-container ' + navbarItemClass)
            +button('borderButton', 'Войти')(class='navbar__button-entry')
        li(class='navbar__button-registration-container ' + navbarItemClass)
            +button('regularButton', 'Зарегистрироваться')(class='navbar__button-registration')