mixin type-block( {tag, text} = {} )
  - let tagName = 'Body';
  - let tagTextClass = '';

  if tag === 'h1'
    - tagName = 'H1';
    - tagTextClass = 'type-block__text_header-size_l'
  else if tag === 'h2'
    - tagName = 'H2';
    - tagTextClass = 'type-block__text_header-size_m'
  else if tag === 'h3'
    - tagName = 'H3';
    - tagTextClass = 'type-block__text_header-size_s'

  .type-block
    #{tag}.type-block__tag !{tagName}
    #{tag}(class=`type-block__text ${tagTextClass}`) !{text}
