mixin type-block({ tag, text } = {})
  - const defaultTagClass = 'type-block__tag';
  -
    const properties = {
      h1: {
        tagName: 'H1',
        tagClasses: [defaultTagClass, 'type-block__tag_size_large'],
        tagTextClass: 'type-block__text_size_large'
      },
      h2: {
        tagName: 'H2',
        tagClasses: [defaultTagClass, 'type-block__tag_size_medium'],
        tagTextClass: 'type-block__text_size_medium'
      },
      h3: {
        tagName: 'H3',
        tagClasses: [defaultTagClass, 'type-block__tag_size_small'],
        tagTextClass: 'type-block__text_size_small'
      },
    }
  - const { tagClasses, tagName, tagTextClass } = properties[tag] || { tagName: 'body', tagClasses: defaultTagClass }
  - const tagModified = tag in properties ? tag : 'span'

  .type-block
    #{tagModified}(class=tagClasses) !{tagName}
    #{tagModified}(class=`type-block__text ${tagTextClass}`) !{text}
