include ../button/button.pug
include ../calendar/calendar.pug
include ../text-field/text-field.pug

mixin dropdown({ type, startDate, endDate, title } = {})
  - let options = [];
  - let buttons = false;
  - let dropdownClass = 'dropdown js-dropdown';
  - let headerText = '';
  - let headerClass = '';
  - let calendarTheme = '';
  - let dateObject = {'title': 'date Dropdown', 'input': {'placeholderText': 'ДД.ММ.ГГГГ', 'masked': true, 'type': 'text'}}

  if type === 'date' && startDate === undefined
    - startDate = dateObject

  if type === 'date' && endDate === undefined
    - endDate = dateObject

  if type === 'comfort'
    - options = ['спальни', 'кровати', 'ванные комнаты'];
    - buttons = false;
    - dropdownClass += ' dropdown_comfort';
    - headerText = 'Выберите удобства';
    - headerClass = 'dropdown__header dropdown__header_top-angles-are-round js-dropdown__header';
  else if type === 'date'
    - dropdownClass += ' dropdown_date';
    - headerText = 'ДД.ММ.ГГГГ';
    - headerClass = 'dropdown__header dropdown__header_all-angles-are-round js-dropdown__header';
  else if type === 'filter_date'
    - title = 'даты пребывания в отеле';
    - dropdownClass += ' dropdown_filter-date';
    - headerText = 'Выберите период';
    - headerClass = 'dropdown__header dropdown__header_all-angles-are-round js-dropdown__header';
    - calendarTheme = 'without-top-border';
  else
    - options = ['взрослые', 'дети', 'младенцы'];
    - buttons = true;
    - dropdownClass += ' dropdown_guests';
    - headerText = 'Сколько гостей';
    - headerClass = 'dropdown__header dropdown__header_all-angles-are-round js-dropdown__header';

  div(class=dropdownClass)
    input.dropdown__check.js-dropdown__check(type="checkbox")
    
    if type !== 'date'
      h3.dropdown__title !{title}
      label(class=headerClass)
        .dropdown__header-text.js-dropdown__header-text !{headerText}
        i.dropdown__expand-more keyboard_arrow_down
    else
      .dropdown__date-section
        .dropdown__date-block.dropdown__date-block_right-padding
          h3.dropdown__title !{startDate.title}
          div(class='dropdown__start-date-input js-dropdown__start-date-input')
            +text-field(startDate.input)
            i.dropdown__date-arrow keyboard_arrow_down
        .dropdown__date-block.dropdown__date-block_left-padding
          h3.dropdown__title !{endDate.title}
          div(class='dropdown__end-date-input js-dropdown__end-date-input')
            +text-field(endDate.input)
            i.dropdown__date-arrow keyboard_arrow_down

    if type === 'guests' || type === 'comfort'
      .dropdown__drop-menu.dropdown__drop-menu_with-border.js-dropdown__drop-menu
        each val in options
          .dropdown__option
            .dropdown__option-title !{val}
            .dropdown__quantity-selection
              button.dropdown__quantity-button.dropdown__quantity-button_subtract.js-dropdown__quantity-button(
                type='button' disabled
              ) -
              .dropdown__quantity-number.js-dropdown__quantity-number 0
              button.dropdown__quantity-button.dropdown__quantity-button_add.js-dropdown__quantity-button(
                type='button'
              ) +
        if buttons
          .dropdown__bottom-buttons-panel
            .dropdown__button-clear.js-dropdown__button-clear
              +button({type: 'onlyText', text: 'очистить'})
            .js-dropdown__button-apply
              +button({type: 'onlyText', text: 'применить'})
    else
      - let dropMenuClass = 'dropdown__drop-menu js-dropdown__drop-menu'

      if type === 'date'
        - dropMenuClass += ' dropdown__drop-menu_separate-from-dropdown'
      
      div(class=dropMenuClass)
        +calendar({ theme: calendarTheme })
