include ../button/button.pug
include ../calendar/calendar.pug

mixin dropdown(args)
    //- type='guests', id=none, title=none, title2=none
    - let options = []
    - let buttons = false
    - let dropdownClass = 'dropdown'
    - let headerText = ''
    - let headerBorders = ''
    - let calendarTheme = ''
    
    if args.type === 'guests'
        - options = ['взрослые', 'дети', 'младенцы']
        - buttons = true
        - dropdownClass += ' dropdown_guests'
        - headerText = 'Сколько гостей'
        - borders = 'dropdown__header_all-angles-are-round'
    else if args.type === 'comfort'
        - options = ['спальни', 'кровати', 'ванные комнаты']
        - buttons = false
        - dropdownClass += ' dropdown_comfort'
        - headerText = 'Выберите удобства'
        - headerBorders = 'dropdown__header_top-angles-are-round'
    else if args.type === 'date'
        - dropdownClass += ' dropdown_date'
        - headerText = 'ДД.ММ.ГГГГ'
        - headerBorders = 'dropdown__header_all-angles-are-round'
    else if args.type === 'filter_date'
        - title = 'даты пребывания в отеле'
        - dropdownClass += ' dropdown_filter-date'
        - headerText = 'Выберите период'
        - headerBorders = 'dropdown__header_all-angles-are-round'
        - calendarTheme = 'without-top-border'

    div(class=dropdownClass)
        input(type="checkbox" id=args.id class='dropdown__check')
        if args.type != 'date'
            h3(class="dropdown__title") !{args.title}
            label(for=args.id class='dropdown__header ' + headerBorders)
                .dropdown__header-element.dropdown__header-text !{headerText}
                i(class='material-icons dropdown__header-element dropdown__expand-more') keyboard_arrow_down
        else
            .dropdown__date-block
                .dropdown__arrival.dropdown_dateElement.dropdown_date-element_right-padding
                    h3(class="dropdown__title") !{args.title}
                    label(for=id class='dropdown__header dropdown__start-date-header ' + headerBorders)
                        .dropdown__header-element.dropdown__header-text.dropdown__startDate !{headerText}
                        i(class='material-icons dropdown__header-element dropdown__expand-more dropdown__expand-more_absolute') keyboard_arrow_down
                .dropdown__departure.dropdown_dateElement.dropdown_date-element_left-padding
                    h3(class="dropdown__title") !{args.title2}
                    label(for=id class='dropdown__header dropdown__end-date-header ' + headerBorders)
                        .dropdown__header-element.dropdown__header-text.dropdown__endDate !{headerText}
                        i(class='material-icons dropdown__header-element dropdown__expand-more dropdown__expand-more_absolute') keyboard_arrow_down

        if args.type === 'guests' || args.type === 'comfort'
            .dropdown__drop-menu.dropdown__drop-menu_with-border
                each val in options
                    .dropdown__option.dropdown__drop-element
                        .dropdown__option-title !{val}
                        .dropdown__quantity-selection
                            button(class='dropdown__subtract-button dropdown__quantity-button' disabled) -
                            .dropdown__quantity-number 0
                            button(class='dropdown__add-button dropdown__quantity-button') +
                if buttons
                    .dropdown__bottom-buttons-panel.dropdown__drop-element
                        .dropdown__button-clear
                            +button({type: 'onlyText', text: 'очистить'})
                        .dropdown__button-apply
                            +button({type: 'onlyText', text: 'применить'})
        else
            .dropdown__drop-menu
                +calendar({theme: calendarTheme})